html{
    box-sizing:border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

body {
    min-width: 320px;
    word-break: normal;
    font-family: "Roboto", sans-serif;
}

/* global */

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.df-align-center-justify-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 40px;
}

.text {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

:root {
    --color-white: #fff;
    --color-blue: #1E3DAF;
    --color-gray: #2A2F37;
    --text-color: rgba(42, 47, 55, 0.8);
    --icon-color:  #b4b6b8;
    --border-color: rgba(42, 47, 55, 0.12);
    --field-color: rgba(42, 47, 55, 0.02);
    --search-item-color: #d3d3d3;
}

/* header ---------------------------------------------------------------*/

.header {
    height: 70px;
    border-bottom: 1px solid var(--border-color);
    padding: 16px 0;
}

.bg-color-white {
    background-color: var(--color-white);
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.header-wrapper {
    width: 80%;
}

.search {
    position: relative;
    width: 16px;
    height: 16px;
    border: 2px solid var(--icon-color);
    border-radius: 50%;
}

.search::after {
    content: '';
    position: absolute;
    top: 12px;
    left: 9px;
    width: 7px;
    height: 2px;
    border-radius: 1px;
    background-color: var(--icon-color);
    transform: rotate(45deg);
}

.btn-blue-style {
    padding: 8px 16px;
    color: var(--color-white);
    background-color: var(--color-blue);
}

.header-link-post {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.btn-login {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding-left: 32px;
    color: var(--color-gray);
    background: url("../images/header/account-logo.svg") no-repeat left center;
}

/* hero -----------------------------------------------*/

.hero-wrapper {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(6, 1fr);
    grid-column: 1 / span 6;
    padding: 96px 0 152px 0;
}

.hero-title {
    color: var(--color-gray);
    font-family: 'Roboto Slab', serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    grid-column: 1 / span 6;
}

.hero-text {
    color: var(--text-color);
    grid-column: 1 / span 5;
}

.search-wrapper {
    position: relative;
    display: grid;
    grid-column: 1 / 6;
}

.search-field {
    background-color: var(--field-color);
    border-color: var(--border-color);
    grid-column: 1 / span 5;
    padding: 12px 16px;
}

.hero-search {
    background-color: transparent;
    position: relative;
    bottom: 34px;
    left: 416px;
    width: 16px;
    height: 16px;
    border: 2px solid var(--search-item-color);
    border-radius: 50%;
}

.hero-search::after {
    content: '';
    position: absolute;
    top: 12px;
    left: 9px;
    width: 7px;
    height: 2px;
    border-radius: 1px;
    background-color: var(--search-item-color);
    transform: rotate(45deg);
}

.bg-image {
    background: url("../images/hero/bg-image.svg") no-repeat right center;
}